# This is what secrets.yaml looks like when being edited using `sops secrets.yaml` Copy this structure into secrets.yaml after opening it with sops.
ryan:
    passwordhash: 12345
    sshKeys:
        id_ed25519: |
            -----BEGIN OPENSSH PRIVATE KEY-----
						private key	contents go
						here.	note the indentation
						which is required for multi-
						line sops secrets.
            -----END OPENSSH PRIVATE KEY-----
    u2f_keys: 12345
tailscale:
    authkey: tskey-auth-12345
borg:
    passphrase: correct horse battery staple
laptop:
    home:
        wgPrivateKey: 12345
